################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WidgetBoard/.vs
/WidgetBoard/WidgetBoard/bin/Debug
/WidgetBoard/WidgetBoard/obj
/WidgetBoard/WidgetBoard/WidgetBoard.csproj.user
/.vs
/WidgetBoard/WidgetBoard.Tests/obj
/WidgetBoard/WidgetBoard.Tests/bin/Debug/net7.0
